

.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}

/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-box {
    outline: none;
    border: 0;
    box-shadow: none;
    background: #fff;
    color: #2a0168;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn-sign, .btn-hero {
    padding: 8px 22px;
    background: #5000CA;
    color: #e4e2e2ed;
    border-radius: 6px;
}

.btn-hero {
    padding: 8px 37px;
    text-transform: uppercase;
}

.btn-sign:hover {
    background: #5a48c5e1;
}

.herotext h1 {
    color: #0a042be1;
}

.spectar {
    margin: 10% auto;
}

.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}

.package-item h3{
    text-align: center;
    margin-bottom: 60px;
    color: #2a0168;
}

.package-card{
   display: flex;
   justify-content: space-between;
   text-align: center;
    
}

.student-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

    
}

.student-card h5{
    background: palevioletred;
    color: #fff;
    padding: 10px 0;
    
}

.student-card p{
    padding: 10px 40px;
    color: gray;
    
}
span{
    color: #5000CA;
    font-weight: 500;
}


.parent-card h5{
    color: #fff;
    padding: 10px 0;
    background: blue;
    
}

.parent-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

}

.parent-card p{
    padding: 10px 40px;
    color: gray;
}

.gold-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.gold-card h5{
    color: #fff;
    padding: 10px 0;
    background: orangered;
}

.gold-card p{
    padding: 10px 40px;
    color: gray;
    
}

.package-card button{
    background: #5000CA;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 30px;
    font-weight: 500;
}

.package-card .withdraw{
    border: 1px solid rgb(236, 230, 230);
    width: 80%;
    margin-left: 10%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 20px;
    margin-top: 50px;
}

.package-card .withdraw-parent{
    border: 1px solid rgb(236, 230, 230);
    width: 80%;
    margin-left: 10%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 132px;
}

.withdraw-parent .parent-btn{
    margin-top: 20px;
}


.package-card .withdraw-gold{
    border: 1px solid rgb(236, 230, 230);
    width: 80%;
    margin-left: 10%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 155px;
    
}

.withdraw-gold .gold-btn{
    margin-top: 20px;

}

@media screen and (max-width: 992px){

    .package-card{
        flex-direction: column;
    }
    .student-card{
        margin-bottom: 50px;
    }

    .parent-card{
        margin-bottom: 50px;
    }
    .package-card .withdraw-parent{
        padding-bottom: 20px;
    }
    .package-card .withdraw-gold{
        padding-bottom: 20px;
    }
    .gold-btn{
        width: 100%;
    }
    .parent-btn{
        width: 100%;
    }
    .student-btn{
        width: 100%;
    }

}

.quoteup{
    padding-bottom: 80px;
    
}

.quote-writeup h1{
    font-size:30px;
    color: rgb(47, 2, 47);
    margin-top: 20px;
}


.right-arrow{
    background: #fff;
    border: 1px solid #fff;
    width: 10%;
    padding: 6px 12px 6px 10px;
    margin-top: 30px;

}

.left-arrow{
    background: #fff;
    border: 1px solid #fff;
    width: 10%;
    padding: 6px 14px 6px 10px;
    margin-left: 50px;
    margin-top: -38px;
}

.what-cus{
    background: rgba(140, 228, 214, 0.06);
}

.sam-page{
    display: flex;
    gap: 50px;
}

.sam-page .sam-p1{
    padding: 10px 13px;
    font-size: 15px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: gray;

}

.sam-page .sam-p2{
    padding: 10px 13px;
    font-size: 15px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: gray;
    
}

@media screen and (max-width: 992px){
    .sam-page{
        flex-direction: column;
        margin-bottom: 160px;
    }

    .quote-writeup{
        margin-bottom: 30px;
    }

   
}


.svg-sec-two-buttom{
    margin-bottom: -280px;
}






@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }

    .svg-top{
        margin-bottom: -5px;
    }
    .svg-buttom{
        margin-top: -5px;
    }
   
    br{
        display: none;
    }

    .box{
        background-color: rgb(97, 205, 224);
        color: #fff;
        border-radius: 5px;
        width: 0;
        padding: 10px 80px;
        margin: 0px;
    }
    .btn-hero{
        width: 100%;
    }


}

@media screen and (min-width: 1000px){

    .svg-top{
        margin-bottom: -5px;
    }
    .svg-buttom{
        margin-top: -5px;
    }

}


.why{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.why p{
    margin-top: 150px;
    font-size: 20px;
    font-weight: 700;
    margin-right: -25px;
}

.herotext2 h2{
    margin-top: 150px;
}

.dedicated{
    padding-bottom: 15%;
}

.myfooter{
    background: #2a0168;
    padding: 80px 0;
}

.footme p{
color: rgb(156, 161, 167);
font-size: 12px;
}

.aboutus p{
    color: rgb(156, 161, 167);
font-size: 10px;
}

.aboutus h5{
    font-size: 10px;
    font-weight: 500;
}

.icons{
    display: flex;
}

.boxes{
    position: relative;
}
.box{
    background-color: rgb(97, 205, 224);
    color: #fff;
    border-radius: 5px;
    margin: 0 140px;
    padding: 10px 80px;
    position:absolute;
    width: 970px;
    top: -10%;
    left: 8px;
}
@media (max-width: 780px) {
    body {
        width: 100%;
        overflow-x: hidden !important;
    }
    .box {
        top: -3%;
        left: -130px;
        width: 95%;
    }
    .box-item {
       flex-direction: column;
    }

    .footme{
        margin-top: 25%;
    }

    .btn-box{
        width: 100%;
        margin-bottom: 10px;
    }
}
.box-item{
    display: flex;
    justify-content: space-between;
    
}

.box-item h5{
    margin: 0;
    margin-top: 10px;
}




