.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}

/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-sign, .btn-hero {
    padding: 8px 22px;
    background: #5000CA;
    color: #e4e2e2ed;
    border-radius: 6px;
}

.btn-hero {
    padding: 8px 37px;
    text-transform: uppercase;
}

.btn-sign:hover {
    background: #5a48c5e1;
}

.herotext h1 {
    color: #0a042be1;
}

.spectar {
    margin: 10% auto;
}

.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-body-item p{
    text-align: center;
    
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
    max-width: 97%;
}

@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }

    .svg-top {
        margin-bottom: -5px;
    }

    .svg-bottom {
        margin-top: -5px;
    }
}

@media screen and (min-width: 1000px){

    .svg-top {
        margin-bottom: -5px;
    }

    .svg-bottom {
        margin-top: -5px;
    }

.herotexta h3 {
    margin-top: 20%;
}


    
}

 .why{
    display: flex;
    align-items: center;
    
    
}
.why p {
    font-size: 20px;
    font-weight: 500;
    max-width: 150px;
    color: #0a042be1;
}




.hero-img2{
    margin-top:-15%;
}

.spectar2 h3{
    margin-bottom: 40px;
}




.hero3-3{

    margin-top: 15%;
}

.herotextb h3{
margin-top: 40%;
color: #0a042be1;
margin-bottom: 30px;
}


.hero4-4{
    margin-top: 15%;
}

.herotext h3{
    color: #0a042be1;
    margin-bottom: 30px;
}