

.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}

/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-box {
    outline: none;
    border: 0;
    box-shadow: none;
    background: #fff;
    color: #2a0168;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn-sign, .btn-hero {
    padding: 8px 22px;
    background: #5000CA;
    color: #e4e2e2ed;
    border-radius: 6px;
}

.btn-hero {
    padding: 8px 37px;
    text-transform: uppercase;
}

.btn-sign:hover {
    background: #5a48c5e1;
}

.herotext h1 {
    color: #0a042be1;
}

.spectar {
    margin: 10% auto;
}

.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}

@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }

    .svg-top{
        margin-bottom: -5px;
    }
    .svg-buttom{
        margin-top: -5px;
    }
   
    br{
        display: none;
    }

    .box{
        background-color: rgb(97, 205, 224);
        color: #fff;
        border-radius: 5px;
        width: 0;
        padding: 10px 80px;
        margin: 0px;
    }
    .btn-hero{
        width: 100%;
    }


}

@media screen and (min-width: 1000px){

    .svg-top{
        margin-bottom: -5px;
    }
    .svg-buttom{
        margin-top: -5px;
    }

}


.why{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.why p{
    margin-top: 150px;
    font-size: 20px;
    font-weight: 700;
    margin-right: -25px;
}

.herotext2 h2{
    margin-top: 150px;
}

.dedicated{
    padding-bottom: 15%;
}

.myfooter{
    background: #2a0168;
}

.footme p{
color: rgb(156, 161, 167);
font-size: 12px;
}

.aboutus p{
    color: rgb(156, 161, 167);
font-size: 10px;
}

.aboutus h5{
    font-size: 10px;
    font-weight: 500;
}

.icons{
    display: flex;
}

.boxes{
    position: relative;
}
.box{
    background-color: rgb(97, 205, 224);
    color: #fff;
    border-radius: 5px;
    margin: 0 140px;
    padding: 10px 80px;
    position:absolute;
    width: 970px;
    top: -33%;
    left: 8px;
}
@media (max-width: 780px) {
    body {
        width: 100%;
        overflow-x: hidden !important;
    }
    .box {
        top: -23%;
        left: -130px;
        width: 95%;
    }
    .box-item {
       flex-direction: column;
    }

    .footme{
        margin-top: 25%;
    }

    .btn-box{
        width: 100%;
        margin-bottom: 10px;
    }
}
.box-item{
    display: flex;
    justify-content: space-between;
    
}

.box-item h5{
    margin: 0;
    margin-top: 10px;
}




